.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 15px;

  .filenameInput {
    width: 500px;
    margin-left: 10px;
    &:focus {
      outline: none;
    }
  }

  .profileImage {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #feecdc;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}
