.controllerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  .searchWrapper {
    position: relative;
    margin-right: 40px;
    img {
      position: absolute;
      top: 10px;
      left: 12px;
    }

    input {
      font-size: 14px;
      border: 1px solid #d1d5db;
      background-color: #f9fafb;
      padding: 2px 4px 2px 40px;
      border-radius: 8px;
      color: #000;
      width: 364px;
      height: 37px;
      &:focus {
        outline: none;
      }
    }
  }
}

.controllerButtons {
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;

  p {
    color: #1f2a37;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-left: 10px;
  }
  &.disabled {
    cursor: default;
    img {
      opacity: 0.3;
    }
    p {
      color: #ccc;
      font-weight: 300;
    }
  }
}
